.nav a{
    color: white !important;
    font-size: 1.8em !important;
}

header {
    width:100% ;
    height: 380px;   
}

.black{
    color: black;
}
/* h2{
    background-color: palevioletred;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1%;
} */

ul, ol {
    list-style:none;
    text-transform: uppercase;
    margin-left: 30%;
    border-radius: 3px;   
}
/* Estilos de la barra de navegacion*/

.MenuLogo {
    width: 100%;
    height: 80px;
    z-index: 5px;
    display: flex;
    flex-direction: row;
    
}

.logo {
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    
    
}

.menu {
    width: 100%;
    height: 100%;
   
}

.texlogo {
    
    padding-left: 4%;
    padding-top: 20px;
    text-decoration:none;
    font-size: 40px;

}

.imagen {
    width: 100%;
    height: auto;
    background-color:white;
    margin-left: 5%;
}

.ciento {
   
    width: 95%;
    height: 100%;
}

.nav > li {
    float:left;
}

.nav li a {
    color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    margin-left: 10px;
}

.nav li a:hover {
    background-color:#fea7a5; 
    transform: scale(1.25);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:120px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

/*Estilos Servicios*/

.imagenCarrusel{
    height: 500px;
    background-size: cover;
}

/*Estilos Detalles Servicios*/
.columnaForm{
    margin-top: 10%;

}
.columnaFormulario{
    background-color: gainsboro;
}
.columnaDetalles{
    margin-top: 3%;

}
.precios{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/544/752/non_2x/white-and-grey-circular-curve-abstract-background-vector-for-business-presentation-background-and-abstract-concept.jpg");
}


.section-3{
    height: 390px;
    /*background-color:;*/
}
.section-text{
    margin: 0;
    color: #3e3e3e;
    background: papayawhip;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.col-5{
    width: 19%;
    height: 350px;
    display: inline-block;
    margin: 5px 4px 0;
    text-align: center;
    background-color:peachpuff;
}
.service-content{
    padding: 0.5em 0;
}
.service-text.memebers{
    font-style: italic; 
}
.foto{
    width: 50%;
    padding: 0.25em 0;
    border-radius: 50%;
}
.linea{
    width: 75%;
    margin-top: -15px;
}

/* Estilos del footer
footer{
    width: 100%;    
    background-color: rgb(231, 213, 213);
    display: flex;
    justify-content: center;
    color: azure;
} */

/* .columna1{
    width:500px; 
    margin-left: 10px;
}

.columna1 h1{
    font-size: 25px;
}

.columna1 p{
    font-size: 15px;
    text-align: justify;
}

.columna1 a{
    margin-left: 10px;
}

.columna2{
    margin-left: 50px;
}

.columna2 h1{
    font-size: 25px;
}

.item1{
    float:left;
}

.item2{
    float:left;
    margin-left: 20px;
} */

/* Estilos responsive */
@media (max-width: 575px) {
    .services{
        height: 600px;
    }
    .noticiascont{
        height: 1550px;    
    }

  }
