header {
    width:100% ;
    height: 380px;   
}

.MenuLogo {
    width: 100%;
    height: 80px;
    background-color:blue;
    z-index: 5px;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 20%;
    height: 100%;
    background-color:#b60428;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 80%;
    height: 100%;
    background-color: #ffcccb;
}

.texlogo{
    padding-left: 20px;
    padding-top: 20px;
    text-decoration:none;
    font-size: 40px;
    font-family: -apple-system;
    color: beige;
}

.imagen {
    width: 100%;
    height: 300px;
    background-color:#ffaf96;
}
.servicios{
    width: 100%;
    height: 400px;
    background-color: #c3663d;
}

.noticias{
    width: 100%;
    height: 400px;
    background-color: #74323c;
}

.snosotros{
    width: 100%;
    height: 400px;
    background-color:#ffaf96;

}

ul, ol {
    list-style:none;
    text-transform: uppercase;
    margin-left: 30%;
    border-radius: 3px;   
}

.nav > li {
    float:left;
}

.nav li a {
    color: black;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    margin-left: 10px;
}

.nav li a:hover {
    background-color:#fea7a5; 
    transform: scale(1.25);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

footer{
    width: 100%;
    height: 200px;    
    background-color: #74323c;
}